/** global variables */
$primary: #0d0f1b;
$secondary: #142034;
$primary-accent: #015fff;
$secondary-accent: #d4004b;
$secondary-text: #8d96a7;
$margin-default: 30px;
$padding-default: 20px;
$padding-section: 30px;
