h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
span,
b,
strong,
label {
    font-family: "Poppins";
}
input,
select,
textarea,
button {
    outline: 2px solid transparent !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
}

.onetime-post-step1 .date-section .b-form-datepicker {
    outline: 2px solid transparent !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
}
html {
    --scrollbarBG: #cfd8dc;
    --thumbBG: #90a4ae;
}
body::-webkit-scrollbar {
    width: 15px;
}
body {
    scrollbar-width: thin;
    scrollbar-color: var(--thumbBG) var(--scrollbarBG);
}
body::-webkit-scrollbar-track {
    background: var(--scrollbarBG);
}
body::-webkit-scrollbar-thumb {
    background-color: var(--thumbBG);
    border-radius: 6px;
    border: 3px solid var(--scrollbarBG);
}

.container-fluid {
    padding: 0px;
}
.page-linking {
    background: none;
    border: none;
}
.page-linking:hover {
    background: none;
}

.header {
    min-height: 70px;
    border-bottom: 1px solid #f5f5f5;
    display: flex;
    justify-content: space-between;
    padding: 10px 30px;
    @media only screen and (max-width: 991px) {
        min-height: 50px;
        padding: 10px 10px;
    }
    .logo {
        img {
            max-height: 60px;
            @media only screen and (max-width: 991px) {
                max-height: 40px;
            }
            @media only screen and (max-width: 370px) {
                max-height: 35px;
            }
        }
    }
    .join-btn {
        display: flex;
        align-items: center;
        .btn1 {
            border-radius: 12px;
            padding: 10px 15px;
            background: #015fff;
            color: white;
            margin-left: 5px;
            font-weight: 400;
            font-size: 14px;
            font-family: "Poppins";
            @media only screen and (max-width: 991px) {
                padding: 8px 10px;
                font-size: 12px;
            }
            @media only screen and (max-width: 370px) {
                padding: 8px 10px;
                font-size: 10px;
                border-radius: 10px;
            }
        }
        .dropdown-menu {
            left: -150px !important;
            top: 45px !important;
            position: absolute;
            transform: none !important;
            @media only screen and (max-width: 991px) {
                left: -170px !important;
                top: 40px !important;
            }
            .dropdown-item {
                a {
                    font-family: Poppins !important;
                    color: #0D0F1B;
                    text-decoration: none;
                }
                font-family: Poppins;
                font-size: 12px;
                @media only screen and (max-width: 370px) {
                    font-size: 12px;
                }
            }
            .dropdown-item:active {
                background: #f9f9f9 !important;
                color: white !important;
            }
            .dropdown-item:active a {
                color: #015fff !important;
            }
        }
    }
}

.login-section {
    min-height: calc(100vh - 81px);
    width: 100%;
    background: #0D0F1B;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    .login-box {
        padding: 25px 25px 30px;
        margin: 0px 20px;
        width: 420px;
        min-height: 350px;
        background: white;
        border-radius: 20px;
        .heading {
            width: 100%;
            text-align: center;
            h2 {
                color: #015fff;
                @media only screen and (max-width: 991px) {
                    font-size: 24px;
                }
            }
        }
        .form-group {
            margin-bottom: 0px;
        }
        .field {
            padding-top: 15px;
            label {
                font-family: Poppins;
                font-size: 16px;
                color: #0D0F1B;
            }
            input {
                padding: 20px 10px;
                height: 50px;
            }
            small {
                width: 100%;
                font-family: Poppins;
                justify-content: flex-end;
                a {
                    font-family: Poppins;
                    text-decoration: none;
                    color: #0D0F1B;
                }
            }
        }
        .btn-box {
            width: 100%;
            padding-top: 20px;
            text-align: center;
            .login-btn {
                margin-top: 20px;
                height: 50px;
                border-radius: 15px;
                padding: 0px 50px;
                background: #015fff;
                color: white;
                border: none;
                font-weight: 400;
                font-family: "Poppins";
            }
        }
    }
}

.p-dashboard-navbar {
    border-bottom: 2px solid #f5f5f5;
    .navbar {
        padding: 5px 0px !important;

        .navbar-brand {
            margin-right: 0px !important;
        }
        @media only screen and (min-width: 400px) {
            padding: 5px 0px !important;
        }
    }
    .logo {
        max-height: 50px;
        @media only screen and (max-width: 350px) {
            max-height: 50px;
        }
    }
    .navbar-nav {
        .nav-item {
            padding: 0px 5px;

            a {
                color: white;
                font-size: 14px;
                font-family: Poppins;
                display: flex;
                align-items: center;
            }
            span {
                color: black;
                font-size: 14px;
                font-family: Poppins;
                margin-right: 5px;
            }
        }
    }
    .navbar-nav .nav-item .mdi {
        font-size: 18px;
        color: BLACK;
    }
    .navbar-nav .nav-item .mdi-bell-outline {
        font-size: 26px;
        color: BLACK;
    }
    .navbar-expand-lg .navbar-nav {
        display: flex;
        @media only screen and (max-width: 767px) {
            margin-left: 10px;
        }
    }
    .header-icons .nav-item {
        @media only screen and (max-width: 767px) {
            margin-left: 10px !important;
        }
    }
    .user-logout {
        .user-profile-img {
            height: 35px;
            width: 35px;
            border-radius: 100%;
            img {
                width: 100%;
                height: 100%;
                border-radius: 100%;
            }
        }
        h5 {
            font-family: Poppins;
            margin: 0px;
            font-size: 16px;
        }
        .logout-btn {
            display: flex;
            align-items: center;
            .mdi {
                margin-left: 5px;
                margin-right: 7px;
                color: #0D0F1B;
            }

            span {
                color: #0D0F1B;
                font-family: Poppins;
                font-size: 14px;
            }
        }
        .pointer {
            cursor: pointer;
        }
        .logout-btn:hover {
            background: #f5f5f5;
        }
    }
}

.header-icons .nav-item {
    padding: 0px !important;
}
.p-dashboard-body {
    padding: 40px 0px 100px;
    min-height: calc(100vh - 100px);
    .heading {
        h4 {
            font-family: Poppins;
            font-weight: 600;
        }
    }
    .select-list {
        padding: 15px 0px;
        h6 {
            font-family: Poppins;
            font-size: 14px;
            font-weight: 600;
        }
        select {
            font-size: 14px;
            height: 40px;
            border-radius: 0px;
            margin-top: 5px;
            max-width: 255px;
            font-family: Poppins;
            color: #7f808c;
        }
    }
    .main-heading {
        min-height: 45px;
        border-bottom: 4px solid #0D0F1B;
        width: 100%;
        margin-top: 15px;
        display: flex;
        align-items: center;
        padding: 8px 0px 0px;
        h6 {
            letter-spacing: 0.5px;
            font-family: Poppins;
            font-size: 14px;
            font-weight: 600;
        }
    }
    .p-profile-box {
        min-height: 250px;
        box-shadow: 1px 1px 5px 1px lightgray;
        margin-bottom: 20px;
        width: 100%;
        display: flex;
        padding: 20px;
        justify-content: space-between;
        @media only screen and (max-width: 767px) {
            flex-direction: column;
        }
        .left-content {
            width: 65%;
            @media only screen and (max-width: 767px) {
                width: 100%;
            }
            .profile-section {
                padding-bottom: 10px;
                display: flex;
                width: 100%;
                align-items: center;
                .profil-pic {
                    img {
                        height: 100px;
                        width: 100px;
                        border-radius: 100px;
                        @media only screen and (max-width: 767px) {
                            height: 80px;
                            width: 80px;
                        }
                    }
                }
                .text-section {
                    padding: 0px 20px;
                    h6 {
                        font-weight: 600;
                        color: #015fff;
                        letter-spacing: 0.5px;
                        margin: 0px;
                        font-family: Poppins;
                        font-size: 14px;
                    }
                    p {
                        margin: 0px;
                        font-family: Poppins;
                        font-size: 14px;
                    }
                }
            }
            h6 {
                font-weight: 600;
                margin: 0px;
                font-family: Poppins;
                font-size: 12px;
                span {
                    color: #015fff;
                    letter-spacing: 0.5px;
                    font-family: Poppins;
                    font-size: 12px;
                }
            }
            h3 {
                padding: 10px 0px;
                margin: 0px;
                line-height: 16px;
                font-family: Poppins;
                font-size: 13px;
            }
            a {
                margin: 0px;
                line-height: 16px;
                font-family: Poppins;
                font-size: 13px;
            }
        }
        .right-content {
            width: 35%;
            text-align: center;
            padding-top: 20px;
            @media only screen and (max-width: 767px) {
                width: 100%;
                padding-top: 0px;
            }
            h6 {
                font-weight: 600;
                color: #015fff;
                letter-spacing: 0.5px;
                margin: 0px;
                font-family: Poppins;
                font-size: 14px;
            }
            p {
                margin: 0px;
                margin-top: 5px;
                font-family: Poppins;
                font-size: 14px;
            }
            .btn {
                width: 80%;
                margin-top: 10px;
                background: #0D0F1B;
                color: white;
                border-radius: 25px;
                padding: 8px 0px;
                font-size: 12px;
                font-family: Poppins;
                letter-spacing: 1px;
            }
            .btn2 {
                width: 80%;
                margin-top: 10px;
                background: white;
                color: #0D0F1B;
                font-weight: 600;
                border: 2px solid #0D0F1B;
                border-radius: 25px;
                padding: 8px 0px;
                font-size: 12px;
                font-family: Poppins;
                letter-spacing: 1px;
            }
            .mdi {
                margin-right: 5px;
            }
        }
    }
    .filter {
        .filter-box {
            min-height: 50px;
            outline: none;
            padding: 15px;
            border-bottom: 1px solid #0D0F1B;
            b {
                font-family: Poppins;
                font-size: 14px;
            }
            span {
                font-family: Poppins;
                font-size: 14px;
            }
        }
        .filter-collapse {
            .card {
                border-radius: 0px;
                border-top: none;
                b {
                    font-family: Poppins;
                    font-size: 12px;
                }
                input {
                    margin-top: 15px;
                    border-radius: 0px;
                    font-size: 14px;
                    height: 40px;
                }
                select {
                    margin-top: 15px;
                    border-radius: 0px;
                    font-size: 14px;
                    height: 40px;
                }
                .btn {
                    width: 100%;
                    margin-top: 15px;
                    background: #0D0F1B;
                    color: white;
                    border-radius: 25px;
                    padding: 8px 0px;
                    font-size: 12px;
                    font-family: Poppins;
                    letter-spacing: 1px;
                }
            }
            .card-body {
                padding: 10px 10px 15px;
            }
        }
        .b-form-btn-label-control.form-control > label {
            font-family: Poppins;
            font-size: 14px;
        }
        .btn .b-icon.bi,
        .nav-link .b-icon.bi,
        .dropdown-toggle .b-icon.bi,
        .dropdown-item .b-icon.bi,
        .input-group-text .b-icon.bi {
            font-size: 18px;
        }
        .b-form-btn-label-control.form-control {
            margin-top: 5px;
            border-radius: 0px;
        }
        .b-calendar-grid-help {
            display: none;
        }
    }
}
.p-dashboard-footer {
    width: 100%;
    background: black;
    align-items: center;
    padding: 20px 0px;
    .footer-row {
        display: flex;
        justify-content: space-between;
        @media only screen and (max-width: 767px) {
            flex-direction: column;
        }
        .links {
            display: flex;
            @media only screen and (max-width: 767px) {
                flex-direction: column;
            }
            h6 {
                a {
                    font-size: 12px;
                    margin-right: 10px;
                    color: #fff;
                    font-family: Poppins;
                }
            }
        }
        .social {
            display: flex;
            h6 {
                a {
                    font-size: 12px;
                    margin-right: 10px;
                    color: #fff;
                    font-family: Poppins;
                }
            }
        }
    }
}
.modal-content {
    .modal-header {
        margin-right: -0.5px;
        h5 {
            font-family: Poppins;
            color: white;
        }
        .close {
            color: white;
        }
        background: #015fff;
    }
}

.admin-dashboard {
    h3 {
        font-family: Poppins;
        font-weight: 600;
    }
    .table-section {
        padding: 50px 30px;
        margin-top: 30px;
        border: 1px solid #f5f5f5;
        border-radius: 10px;
        box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.12);
    }
    .table-btn {
        border-radius: 5px;
        padding: 5px 15px;
        background: #015fff;
        color: white;
        margin-left: 5px;
        font-weight: 400;
        font-size: 16px;
        font-family: Poppins;
    }
    .form-btn {
        border-radius: 5px;
        padding: 5px 15px;
        background: #4e5612;
        color: white;
        width: 150px;
        margin-left: 5px;
        font-weight: 400;
        font-size: 16px;
        font-family: Poppins;
    }
}

.btn.disabled,
.btn:disabled {
    opacity: unset !important;
}

.page-item.active .page-link {
    color: #fff;
    background-color: #4e5612;
    border-color: #4e5612;
}
.page-link {
    color: #4e5612;
}
.page-link:hover {
    color: #4e5612;
}
.nuxt-link-exact-active {
    color: #015fff !important;
    font-weight: 600;
}
.nuxt-link-active {
    color: #015fff !important;
    font-weight: 600;
}

.error-wrap {
    background-image: url("/images/page-bg-bottom.png");
    background-position-y: bottom;
    background-size: 100%;
    height: 100vh;
    background-repeat: no-repeat;
    padding: 120px 0;
    h1 {
        font-size: 60px;
        font-weight: 800;
        margin-bottom: 16px;
        line-height: 1;
    }
    .subheading {
        font-weight: 800;
        font-size: 36px;
    }
    a {
        background-color: #015fff;
        color: white !important;
    }
}

.schedule {
    display: flex;
    overflow-x: auto;
    &__rounds {
        min-width: 320px;
        margin-right: 30px;
        h4 {
            background-color: #015fff;
            margin-bottom: 10px;
            color: white;
        }
        &__match {
            display: flex;
            width: 100%;
            align-items: center;
            .form-group {
                margin-bottom: 5px;
            }
            .fields {
                width: 100%;
                margin-bottom: 10px;
                height: 280px;
                display: flex;
                flex-direction: column;
                padding: 10px;
                border: 1px solid #f5f5f5;
                border-radius: 10px;
                box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.12);
            }
            &__label {
                font-size: 12px;
            }
        }
    }
}


.close-ticket {
    cursor: pointer;
    text-align: right;
}

.chat-box {
    max-height: 100%;
    ul {
        display: contents;
    }
    .right-li {
        justify-content: flex-end;
      }
      p {
        padding: 10px 30px;
        max-width: 70%;
        width: fit-content;
        white-space: pre-wrap
      }
      .left {
        background: #ccc;
        border-radius: 10px;
      }
      .right {
        background: rgb(78, 140, 255);
        color: white;
        border-radius: 10px;
        justify-content: flex-end;
        margin-right: 20px;
      }
}