.badge {

    display: inline-block;

    &--notification{
        width: 20px;
        height: 20px;
        line-height: 20px;
        text-align: center;
        background-color: $secondary-accent;
        border-radius: 20px;
        color: #ffffff;
        font-size: 12px;
        position: absolute;
        top: 0;
        right: -7px;
    }

    &--date{
        min-width: 40px;
        height: 40px;
        text-align: center;
        background-color: $primary-accent;
        border-radius: 40px;
        line-height: 13px;
        font-size: 11px;
        span {
            position: relative;
            top: 6px;
            left: 1px;
            color: #fff;
        }
    }

    &--profile_rank{
        min-width: 30px;
        height: 30px;
        text-align: center;
        background-color: $primary-accent;
        border-radius: 40px;
        line-height: 13px;
        font-size: 11px;
        position: absolute;
        right: 10px;
        bottom: 65px;
        span {
            position: relative;
            top: 8px;
            left: 1px;
            font-size: 15px;
            color: #fff;

        }
    }
}

