.lsh_roadmap {
  &__ {
    &date-arrow {
      padding-top: 20px;
      padding-bottom: 20px;
      text-align: center;
      width: 100%;
      display: block;
      color: #fff;
      font-weight: 300;
      position: relative;
      margin-top: 10px;
      margin-bottom: 15px;
      &-- {
        &primary-accent {
          background-color: $primary-accent;
          &:after {
            border-color: transparent transparent transparent $primary;
          }
          &:before {
            border-color: transparent transparent transparent $primary-accent;
            background-color: $primary;
          }
        }
        &secondary-accent {
          background-color: $secondary-accent;
          &:after {
            border-color: transparent transparent transparent $primary;
          }
          &:before {
            border-color: transparent transparent transparent $secondary-accent;
            background-color: $primary;
          }
        }
        &disabled-accent {
          background-color: #7c7c7c;
          &:after {
            border-color: transparent transparent transparent $primary;
          }
          &:before {
            border-color: transparent transparent transparent #7c7c7c;
            background-color: $primary;
          }
        }
      }
      &:after {
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 32px 0 32px 32px;
        content: "";
        display: block;
        position: absolute;
        top: 0;
        left: 0;
      }
      &:before {
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 32px 0 32px 32px;
        content: "";
        display: block;
        position: absolute;
        top: 0;
        right: 0;
      }
    }
    &item-wrap {
      p {
        padding-left: 10px;
        padding-right: 10px;
      }
    }
  }
}

.lsh_contact-person {
  @include flex();
  margin-bottom: 15px;
  &__ {
    &name {
      align-self: center;
      flex-grow: 1;
      h5 {
        color: $primary;
        font-weight: 600;
        font-size: 16px;
        margin-bottom: 0px;
        line-height: 1em;
      }
      h6 {
        color: $primary;
        font-weight: 300;
        font-size: 16px;
        margin-bottom: 0;
      }
    }
    &image {
      flex-grow: 1;
      align-self: center;
      img {
        border: solid 2px $primary-accent;
        border-radius: 150px;
        margin-left: auto;
        display: block;
        width: 96px;
      }
    }
  }
}

@media all and (min-width: map_get($grid-breakpoints, sm)) {
  .lsh_roadmap {
    &__ {
      &item {
        &:nth-child(even) {
          margin-top: 50px;
        }
      }
    }
  }

}
